<footer class="mastfoot mt-auto">
  <div class="inner footer-text">
    <p>&copy; <%= Time.now.strftime('%Y') %> | <strong><a href="/">Blessing Mbonu</a></strong> All rights reserved</p>
  </div>
</footer>