<div class="col-sm-4 col-sm-offset-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
  </div>
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled">
      <li class="social-links"><a href="https://github.com/Nkemjiks"><i class="fab fa-github"></i></a></li>
      <li class="social-links"><a href="https://twitter.com/mbonunkemjika"><i class="fab fa-twitter"></i></a></li>
      <li class="social-links"><a href="https://www.facebook.com/MbonuB"><i class="fab fa-facebook"></i></a></li>
    </ol>
  </div>
</div>