<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>&copy; <%= Time.now.strftime('%Y') %> | <strong><a href="/">Blessing Mbonu</a></strong> All rights reserved</p>
  </div>
</footer>