<main role="main" class="inner cover about-me">
  <h1 class="cover-heading">About Me</h1>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag  "Blessing.jpg", alt: 'Blessing profile image', width: 300 %>
    </div>
    <div class="col-md-8 description">
      <p class="lead">
        I have about 2 years of experience as a software developer and have mostly worked in a startup organisation. While I am full-stack developer which includes UI designs, my expertise is in delivering the best user experience to all users by making the website or web apps accessible and easy to use. My main stacks are React and Ruby on Rails.
      </p>
      <p class="lead">
        I love building beautiful apps, mentoring junior developers and solving problems. I am looking for a mid-level role to solve customer experience problems as well take small leadership responsibilities and grow into a senior developer. I don't like working alone as I believe great things can be achieved with a team. 
      </p>
    </div>
  </div>
</main>