<main role="main" class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">
    Building a website or web app shouldn't be a secret process. When i take up a project, I make sure to communicates effectively and provide great stakeholder management at every step of the way.
  </p>
  <p class="lead">
    <%= link_to  "About Me", about_me_path, class: "btn btn-lg btn-secondary"  %>
  </p>
</main>